<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    table, th, td {
        border: 1px solid black;
        background-color: wheat;
        text-align: left;
        
      }
</style>
<body>
    download 
    <a href="/profile" >go back to profile </a><br>
    <div id="data" style="display: none;"><%= loginuser %> </div>
    <ul id="loggedlist" >
        <h3>this is my logged history for this month  </h3>
        <table id="heading"style="width:100%">
          <tr style="padding:5px; width: 25%;">
            <th>Date</th>
            <th>Resident</th>
            <th>Activities</th>
            <th>Outcome</th>
            <th>Hours </th>
          </tr>
          
        </table>
        <input type="button" id="btnExport" value="Export" onclick="Export()" />

  <button onclick="signout()">sign out</button>
  
      </ul>
</body>
<script>
    

    var data = JSON.parse(document.getElementById("data").innerHTML)
    console.log(data.loggeddetails)

    var list = document.getElementById("heading")
var loggedlist= document.getElementById("loggedlist")

//create row 
for (i=0;i<data.loggeddetails.length;i++){
  var newrow= document.createElement('tr')
newrow.style="padding:5px; width: 25%;"
//put that in existing table , will us efor loop to implememt 
list.appendChild(newrow)

for (var j = 0; j < data.loggeddetails[i].length; j++) {
    var content = data.loggeddetails[i][j];
    console.log(content)
    var li = document.createElement('th');
    li.innerText= content
    newrow.appendChild(li);
}
//inner for loop 

}
function Export() {
            html2canvas(document.getElementById('heading'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                }
            });
        }


function signout(){

    location.assign("/profile")
}

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</html>