<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="244299986178-16s1c4qbq6k1j16p083ssmfvoiqr07rf.apps.googleusercontent.com">
    <title>Document</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
</head>
<link rel="stylesheet" href="profile.css">
<link rel="stylesheet" type="text/css" href="loading-bar.css"/>

<body>
 <div class="masterwrap">

  
  
  

  <div class="sidebar card">
    <div class="flexwraprow center">

      
      <div id="data"><%=doc1%></div>
      <img id="userpicture"src=<%= userpicture %> >
      <div id="user"><%=loginuser%></div>
      

      
    </div>
  
  
    
    <div class="flexwraprow ">
      <button class="button card2" onclick="logpage()">log my hours </button>
      <button class="button card2" onclick="monthlyreport()">Generate a monthly report </button>
      <button class="button card2" onclick="logpage()">Mark my avalabilities </button>
      <a href="/logout" class="button">Sign out</a>

    </div>


  </div>

  
 

  <div class=" hourprogress card flexwrapcolumn">
    <p>Your Hours this month </p>

    <div class="ldBar label-center" data-preset="circle"data-value="50"></div>
    
    <div id="totalhour"></div>

  </div>


 


  
  <div class="progress" id="progress"></div>
   
  
  <div class="chart-container card">
    <canvas id="myChart"></canvas>

    </div>

  

  
  <div class="card history card">
    <ul id="loggedlist" >
      <h3>this is my logged history for this month  </h3>
      <table id="heading"style="width:100%">
        <tr style="padding:5px; width: 25%;">
          <th>Date</th>
          <th>Resident</th>
          <th>Activities</th>
          <th>Outcome</th>
          <th>Hours </th>
        </tr>
        
      </table>


    </ul>
  </div>
  
  


 </div>
   
   

    
</body>
<script>



// Assuming we have an empty <div id="container"></div> in
// HTML


  

var info = document.getElementById("data").innerHTML;
console.log(info)
var user = document.getElementById("user").innerText;
var finaldata= JSON.parse(info)
var milano= finaldata.Milano
var serrento= finaldata.Serrento
var toscano= finaldata.toscano
var totalhour= milano+serrento+toscano
var totalhourconverted=totalhour/30
var totalhourconvertedstring = `${Math.ceil(totalhour/30*100)}%`
var log = finaldata.loggeddetails

var totalhours= document.getElementById("totalhour");


totalhours.innerText=`${totalhour}/30`;





var list = document.getElementById("heading")
var loggedlist= document.getElementById("loggedlist")

//create row 
for (i=0;i<log.length;i++){
  var newrow= document.createElement('tr')
newrow.style="padding:5px; width: 25%;"
//put that in existing table , will us efor loop to implememt 
list.appendChild(newrow)

for (var j = 0; j < log[i].length; j++) {
    var content = log[i][j];
    console.log(content)
    var li = document.createElement('th');
    li.innerText= content
    newrow.appendChild(li);
}
//inner for loop 

}






var ctx = document.getElementById("myChart");
function logpage(){
  location.assign(`/${user}/loghours`)
}

function monthlyreport(){
  location.assign(`/${user}/monthlyreport`)

}
  
   

 
   
var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ['milano', 'toscano', 'serrenton'],
    datasets: [{
      label: '# of Tomatoes',
      data: [milano,toscano,serrento],
      backgroundColor: [
        'rgba(255, 99, 132)',
        'rgba(54, 162, 235)',
        'rgba(255, 206, 86)',
        'rgba(75, 192, 192)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)'
      ],
      borderWidth: 5
    }]
  },
  options: {
   	//cutoutPercentage: 40,
    responsive: true,
    
    responsiveAnimationDuration: 1000
   

  }
});

new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});   

///////////////////

</script>
<script type="text/javascript" src="loading-bar.js"></script>

</html>