*{
    margin: 0;
    padding: 0;
    border: 0;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.flexboxconatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.login{
    justify-content: center;
    align-items: center;

}
.g-signin2{
    margin: 0 auto;
}
#data{
    display: none;
}
